{% load i18n extra_tags components %}

<div id="MapSelectDataModal" class="process-manager-modal hidden modal">
	<div class="main-section">
	<div class="section-title clearfix">
		<div class="context-menu clearfix">
	<div class="row">
		<div class="col-xs-7">
			<h1>{% trans "APP-CUSTOMIZE-MAP-SELECT-DATA-TEXT" %}</h1>
		</div>
		<div class="col-xs-5 context-buttons clearfix">
			<button class="button primary btn-done FR" disabled="disabled">{% trans "APP-GRAPH-TEXT" %}</button>
			<button class="button default btn-cancel FR">{% trans "APP-CANCEL-TEXT" %}</button>
		</div>
	</div>
	</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<div class="sidebar">

				<div class="selected-ranges-view">
					<form class="form" novalidate>
					
						<div class="row input-row hidden" data-name="latitudSelection">
							<label>{% trans "APP-CUSTOMIZE-MAP-SELECT-LATITUDE-TEXT" %}</label>
							<div class="hot-sel-1">
								<span class="color"></span>
								<input name="latitudSelection" type="text" />
								<p class="validation-not-empty hidden">{% trans "APP-INVALID-REQUIRED" %}</p>
								<p class="validation-invalid-range hidden">{% trans "APP-INVALID-RANGE" %}</p>
							</div>
						</div>

						<div class="row input-row hidden" data-name="longitudSelection">
							<label>{% trans "APP-CUSTOMIZE-MAP-SELECT-LONGITUDE-TEXT" %}</label>
							<div class="hot-sel-2">
								<span class="color"></span>
								<input name="longitudSelection" type="text" />
								<p class="validation-not-empty hidden">{% trans "APP-INVALID-REQUIRED" %}</p>
								<p class="validation-invalid-range hidden">{% trans "APP-INVALID-RANGE" %}</p>
							</div>
						</div>

						<div class="row input-row hidden" data-name="traceSelection">
							<label>{% trans "APP-CUSTOMIZE-MAP-SELECT-TRACE-TEXT" %}</label>
							<div class="hot-sel-4">
								<span class="color"></span>
								<input name="traceSelection" type="text" />
								<p class="validation-not-empty hidden">{% trans "APP-INVALID-REQUIRED" %}</p>
								<p class="validation-invalid-range hidden">{% trans "APP-INVALID-RANGE" %}</p>
							</div>
						</div>

						<div class="row input-row hidden" data-name="data">
							<label>{% trans "APP-CUSTOMIZE-MAP-SELECT-MARKERS-TEXT" %}</label>
							<p class="tip">{% trans "APP-CUSTOMIZE-MAP-SELECT-MARKERS-HINT" %}</p>
							<div class="hot-sel-3">
								<span class="color"></span>
								<input name="data" type="text" />
								<p class="validation-not-empty hidden">{% trans "APP-INVALID-REQUIRED" %}</p>
								<p class="validation-invalid-range hidden">{% trans "APP-INVALID-RANGE" %}</p>
							</div>
						</div>

						{% if visualization_revision %}
							{% include "createVisualization/parameters.html" with parameters=visualization_revision.parameters %}
						{% else %}
							{% include "createVisualization/parameters.html" with parameters=datastream_revision.parameters %}
						{% endif %}

					</form>
				</div>

				<div class="helpTips">
					<div class="title">{% trans 'APP-HOW-TO-SELECT-TITLE' %}</div>
					
					<div>
						<img src="/static/workspace/images/common/howToSelect.gif" class="FL">
						<p class="select">{% trans 'APP-HOW-TO-SELECT-MULTIPLE-TEXT' %}</p>
					</div>

					<div>
						<img src="/static/workspace/images/common/howToSelectCol.gif" class="FL">
						<p class="column">{% trans 'APP-HOW-TO-SELECT-COLUMN-TEXT' %}</p>
					</div>

					<div>
						<img src="/static/workspace/images/common/howToSelectRow.gif" class="FL">
						<p class="row">{% trans 'APP-HOW-TO-SELECT-ROW-TEXT' %}</p>
					</div>
				</div>

			</div>
		</div>

		<div class="col-xs-9">
			<div class="data-table-view">
				<div class="table-view"></div>
				<div class="table-null-message" style="display:none;">{% trans "CREATEVIZ-NULLRESULTS-TEXT" %}</div>
			</div>
			<div class="table-loading loading light" style="display:none;">{% trans "APP-LOADINGDATAPLEASEWAIT-TEXT" %}</div>
		</div>

	</div>
</div>

</div>