<td class="viewInfo">
    <div class="{% if revision.type == 'DT'%}ic_Dset{%endif%}{% if revision.type == 'DS'%}ic_Data{%endif%}{%if revision.type == 'db'%}ic_Dashboard {%endif%}{%if revision.type == 'VZ'%}ic_Chart{%endif%}{%if revision.type == 'kp'%}ic_KPI{%endif%}"></div>
    <a href="{{revision.permalink}}" target="_blank" ><strong>{{revision.title}}</strong></a>
            {% if revision.account_name %}<span class='sep'> | </span>  <span class="account">{{ revision.account_name }}</span> {% endif %}
            <span class='sep'> | </span>  <span class="category">{{ revision.category }}</span>
</td>
<td class="date" data-sort-value="{{ revision.timestamp|date:"U" }}">
    <span class="longDateFormat">
    {{revision.timestamp|date:"DATE_FORMAT"}}
    </span>
</td>
