{% extends "base_microsites.html" %}
{% load i18n extra_tags components core_components compress staticfiles sass_tags plugins_tags %}

{% block SEO %}
    <title>{{visualization_revision.title}} &middot; {{preferences.account_page_titles}}</title>
    <meta name="description" content="{{ visualization_revision.description }}" />
    <link rel="canonical" href="{{settings.MSPROTOCOL}}://{{ preferences.account_domain}}{% permalink 'visualization' visualization_revision.visualization_id visualization_revision.slug %}" />
{% endblock %}

{% block facebook %}
    <meta property="og:title" content="{{visualization_revision.title}} &middot; {{preferences.account_page_titles}}" />
    <meta property="og:description" content="{{ visualization_revision.description }}" />
    <meta property="og:image" content="{{preferences.account_logo}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{preferences.account_name}}" />
{% endblock %}

{% block meta %}

{% compress css %}
<!-- CSS -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/detailPage.scss' %}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/viewDataStream.css' %}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/viewVisualization.css' %}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'c3/c3.min.css' %}"/>
{% endcompress %}

<!-- Styles items from plugins -->
{% plugins_call 'microsites_view_visualization_styles' %}

<!-- JS LIBS -->
<!--[if lt IE 9]>
<script type="text/javascript" src="/js_core/plugins/date.toISOString.js?id={{settings.VERSION_JS_CSS}}"></script>
<![endif]-->
<script type="text/javascript" src="/js_core/plugins/jquery.client.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/imagesPreLoader.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/flexigrid.4/source/flexigrid.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>

{# add spanish support for dates #}
<script type="text/javascript" src="/js_core/libs/jquery_ui/jquery.ui.datepicker-es.js?id={{settings.VERSION_JS_CSS}}"></script>
{# addon for formating time #}
<script type="text/javascript" src="/js_core/plugins/jquery-ui-timepicker-addon.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Lib items from plugins -->
{% plugins_call 'microsites_view_visualization_libs' %}

<!-- Libraries -->
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart'],
              'language': '{{ preference.account_language }}'
            }]
    }"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAPS_API_KEY}}&amp;libraries=visualization"></script>

<script src="/js_core/libs/oms.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/multimarker.js?id={{settings.VERSION_JS_CSS}}"></script>

{% if preferences.account_enable_sharing %}
  <script type="text/javascript" charset="utf-8" src="https://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script>
  <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "b6aba428-3562-4003-b6a8-018086ce7af4", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
{% endif%}

<script type="text/javascript" src="/js_core/models.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'c3/c3.min.js' %}"></script>

{% comment %}
<!-- Para Sentry:  should get included after any other libraries are included, but before your own scripts -->
<script language="javascript" src="{% static 'raven-js/dist/raven.min.js' %}"></script>
{% endcomment %}

<script src="/js_core/base_modules/DataTableUtils.js"></script>
<script language="javascript" src="/js_core/base_modules/charts/ChartsFactory.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/data.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/chart.js?id={{settings.VERSION_JS_CSS}}"></script>

<script language="javascript" src="/js_core/base_modules/charts/views/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/charts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/googleCharts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/c3Charts.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/embedChartModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/embedChartView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/viewChartView.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/visualizationHitsModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/visualizationHitsView.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/ChartView.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Styles items from plugins -->
{% plugins_call 'microsites_view_visualization_scripts' %}

{% compress css %}
<!-- BRANDED CSS -->
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/brandedFull.css' %}"/>
{% endcompress %}
<link type="text/css" rel="stylesheet" media="screen" href="{% url 'microsites.get_css' request.resolver_match.url_name preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% url 'microsites.get_new_css' request.resolver_match.url_name preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<!-- BRANDED JS -->
<script type="text/javascript" src="{% url 'microsites.get_js' request.resolver_match.url_name preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"></script>
  
{% endblock %}

{% block messageBar %}

<!-- Message Bar from plugins -->
{% plugins_call 'microsites_view_visualization_message_bar' %}

{% endblock %}

{% block body_class %}detail_page{% endblock %}

{% block content %}
  
<div class="wrapper clearfix" id="id_wrapper">
  <div class="wrapperInner">
  
    <nav class="tabs border-box">
      {% include "viewChart/tabs.html" %}
    </nav>
  
    <div class="columns clearfix" id="id_columns">

      <aside class="sidebar FL">
        {% include "viewChart/sidebarInfo.html" %}
        {% include "viewChart/sidebarAPI.html" %}
        {% if notes and preferences.account_enable_notes %}
          {% include "viewChart/sidebarNotes.html" %}
        {% endif %}
        
        <!-- Plugins Sidebar Includes -->
        {% plugins_call 'microsites_view_visualization_sidebar_includes' %}

      </aside>

      <section class="section">
        {% include "viewChart/dataTable.html" %}
      </section>

    </div>

  </div>
</div>

{# templates backbone #}
{% include "viewChart/templates.html" %}

<!-- plugins templates backbone -->
{% plugins_call 'microsites_view_visualization_templates_backbone' %}

{% endblock %}

{% block microsites_bottom_js %}

<script type="text/javascript">

// google.load('visualization', '1', {packages: ['corechart', 'geomap'], 'language': '{{ preference.account_language }}' });

$(document).ready(function(){
  //Raven.config('http://7e94a6d546c84be78535a7c793a22948@sentry.junar.com/3').install()

  var params = [];
  {% for param in visualization_revision.parameters %}
  params.push({
      name:'{{ param.name }}',
      default:'{{ param.default }}',
      position: {{ param.position }},
      description:'{{ param.description }}'
    });
  {% endfor %}

  var viewVisualizationModel = {
      title: "{{visualization_revision.title}}", 
      description: "{{visualization_revision.description|escapejs}}", 
      visualizationJson : '{{result|escapejs}}',
      chartJson : '{{visualization_revision.impl_details|escapejs}}',
      chartLib: "{{visualization_revision.lib}}",
      status : '{{visualization_revision.status}}',
      createdAt: "{{ visualization_revision.created_at|date:'F d, Y, h:i A'|capfirst }}",
      modifiedAt: "{{ visualization_revision.modified_at|date:'F d, Y, h:i A'|capfirst }}",
      lastPublishDate: "{{visualization_revision.last_published_date|date:'F d, Y, h:i A'|capfirst}}",
      publicUrl: "{{settings.MSPROTOCOL}}://{{ preferences.account_domain }}{% permalink 'visualization' visualization_revision.visualization_id visualization_revision.slug %}",
      lastPublishRevisionId: "{{ visualization_revision.last_published_revision_id }}",
      guid: "{{visualization_revision.guid}}",
      parameters: params,
      filter: "",
      exportCSVURL: "{% url 'datastreams-data' datastream.last_published_revision_id 'csv' %}",
      exportXLSURL: "{% url 'datastreams-data' datastream.last_published_revision_id 'xls' %}",

      // Revisar
      id: "{{ visualization_revision.last_published_revision_id }}",
      visualization_id: "{{ visualization_revision.visualization_id }}",
      embedUrl: "{{settings.MSPROTOCOL}}://{{ preferences.account_domain }}{% url 'viewChart.embed' visualization_revision.guid %}{%if url_query%}?{{url_query}}{%endif%}"
  }

  // Plugins - Extend Main Model
  {% plugins_call 'microsites_view_visualization_js_extend_main_model' %}

  var visualizationModel = new charts.models.Chart( viewVisualizationModel );

  var formatDict = {{ visualization_revision.format | jsonify }};

  visualizationModel.parse({
      id: {{ visualization_revision.visualization_id }},
      revision_id: {{ visualization_revision.visualization_revision_id }},
      datastream_revision_id: {{datastream.datastream_revision_id}},
      
      title: '{{ visualization_revision.title }}',
      description: '{{ visualization_revision.description }}',
      notes: '{{ visualization_revision.notes|escapejs }}',
      lib: '{{ visualization_revision.lib }}',

      data: '{{ visualization_revision.data }}',

      format: formatDict,
      chart: {{ visualization_revision.chart | jsonify }},

      silent: formatDict.type === 'mapchart',

      parameters: params,
  }); 

  // Plugins- Extend Main Model After Parse
  {% plugins_call 'microsites_view_visualization_js_extend_main_model_after_parse' %}

  var visualizationView = new viewVisualizationView({
      model: visualizationModel
  });

});

</script>
{% endblock %}

{% block popupsOverlay %}
  
  {% include "viewChart/overlays.html" %}

  <!-- overlays from plugins -->
  {% plugins_call 'microsites_view_visualization_overlays' %}

{% endblock %}
