{% load i18n compress staticfiles plugins_tags %}
<!DOCTYPE html>
<html lang="{% if auth_manager.language == 'en' %}en-US{% endif %}{% if auth_manager.language == 'es' %}es-ES{% endif %}{% if auth_manager.language == 'pt' %}pt-BR{% endif %}">
<head>
    <meta charset="utf-8">

    {% block SEO %}
    <title>{% block title %}{{ settings.APPLICATION_DETAILS.name }} &middot; {% trans 'APP-THEOPENDATAPLATFORM-TEXT' %}{% endblock %}</title>
    <meta name="description" content="{{ settings.APPLICATION_DETAILS.name }} delivers the easiest to use, cloud-based, Open Data Platform that enables data-rich organizations to achieve greater transparency, citizen engagement, efficiencies and innovation." />
    {% endblock %}

	<meta http-equiv="CACHE-CONTROL" content="max-age=0, no-store" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{% block head %}{% endblock %}

    {% block favicon %}
        {% if not 'favicon'|inplugin %}
        <link rel="shortcut icon" href="{% static 'core/images/favicon/datal.ico' %}" />
        {% else %}
        {% plugins_call 'favicon' %}
        {% endif %}
    {% endblock %}

	{% include "css.html" %}
    {% block css_includes %}{% endblock %}

    <script type="text/javascript" src="{% static 'moment/min/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="{% static 'moment-timezone/builds/moment-timezone-with-data.min.js' %}"></script>
    {% block js_includes %}{% endblock %}

    {% block facebook %}{% endblock %}

	{% block meta %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
	{% block body %}

	{% endblock %}

    {% block popupsOverlay %}

    {% endblock %}

	<!-- Overlay Mask -->
	<div id="id_overlayMask" class="overlayMask"></div>

    {% block loadingOverlay %}
    <div class="ajaxLoadingOverlay" id="ajax_loading_overlay">
        <p>{% trans "APP-LOADING-TEXT" %}</p>
    </div>
    {% endblock %}

    <script type="text/javascript">
        Configuration = {};
        Configuration.baseUri = "{{settings.BASE_URI}}";
        Configuration.apiUri = "{{settings.API_URI}}";
        Configuration.apiKey = "{{settings.PUBLIC_KEY}}";
        Configuration.language = "{{LANGUAGE_CODE}}";
        Configuration.timezone = "{{auth_manager.timezone}}";
        Configuration.APPLICATION_DETAILS = {}
        Configuration.APPLICATION_DETAILS.name = "{{ settings.APPLICATION_DETAILS.name }}";
        Configuration.APPLICATION_DETAILS.website = "{{ settings.APPLICATION_DETAILS.website }}";
        Configuration.APPLICATION_DETAILS.mail = "{{ settings.APPLICATION_DETAILS.mail }}";
        Configuration.dp_to_moment = {
            "yy/mm/dd": "Y/MM/DD",
            "yy-mm-dd": "Y-MM-DD",
            "dd/mm/yy": "DD/MM/Y",
            "dd-mm-yy": "DD-MM-Y",
            "mm/dd/yy": "MM/DD/Y",
            "mm-dd-yy": "MM-DD-Y"
        }

        // Set timezone
        moment.tz.setDefault(Configuration.timezone);
        moment.locale(Configuration.language);

    </script>

    {% block base_bottom_js %}

    {% endblock %}

    {% block zendesk_chat %}

    {% endblock %}

    {% block ga_code %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15500152-1']);
      _gaq.push(['_setDomainName', 'junar.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endblock %}

</body>
</html>