{% load compress sass_tags staticfiles %}

{% compress css %}
<link href="{% sass_src 'core/styles/reset.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/buttons.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/icons.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/plugins/jquery.gritter.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/structure.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/forms.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/overlay.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/commonModules.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}

