{% load plugins_tags %}
<td class="viewInfo {% if revision.type == 'DT'%}ic_Dset{%endif%}{% if revision.type == 'DS'%}ic_Data{%endif%}{%if revision.type == 'VZ'%}ic_Chart{%endif%}{%if revision.type == 'KP'%}ic_KPI{%endif%}{% plugins_call 'microsites_home_table_body' %}">
    <a href="{{revision.permalink}}" target="_blank" ><strong>{{revision.title}}</strong></a>
            {% if revision.account_name %}<span class='sep'> | </span>  <span class="account">{{ revision.account_name }}</span> {% endif %}
            <span class='sep'> | </span>  <span class="category">{{ revision.category }}</span>
</td>
<td class="date" data-sort-value="{{ revision.timestamp|date:"U" }}">
    <span class="longDateFormat">
    {{revision.timestamp|date:"DATE_FORMAT"}}
    </span>
</td>
